body * {
  /* border: 1px solid red; */
}

.gameSpace {
  background-color: #5E2612;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  padding: 1em;
  font-size: 0.9em;
  font-weight: bold;
}

.river {
  background-color: blue;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.orange:hover {
  cursor: pointer;
}

.green:hover {
  cursor: pointer;
}

.highlight {
  border: 1px solid yellow;
}

.canMoveTo {
  border: 1px solid green;
}

.notPlayersTurn {
  background-color: gray;
  color: gray;
  font-size: 0.1em;
}

#gameboard {
  /* border: 1px solid black; */
  margin-top: 2em;
  padding: 0;
  text-align: center;
}
